---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Joseph N Gabrie" description="About Joseph Gabrie">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Joseph Gabrie  at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; Born in the heart of Honduras to a middle-class family, I've always been surrounded by contrasting worlds. On one hand, there was the warmth of my community, our shared stories, and the rich tapestry of our culture. On the other, the stark shadows of extreme poverty that many Hondurans face every day.
					</p>
					<br>
					<p>
						
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; In 2008, I embarked on a new chapter of my life, migrating to the United States. 
						This move wasn't just a shift in geography; it was a broadening of my horizons and a deepening of my purpose. 
						While the distance between Honduras and the U.S. is measurable in miles, the gap in opportunities is immeasurable. 
						Witnessing firsthand the disparities of my homeland, I was ignited with a passion: to develop programs that uplift those who are financially marginalized, not just in Honduras, but everywhere.
					</p>
					<br>
					<p>
						
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; My ability to bridge cultures isn't just ideological—it's linguistic. 
						Fluent in both Spanish and English, I'm now threading the intricate nuances of the Japanese language. 
						This trilingual journey is more than just about communication; it's about connecting worlds, understanding different perspectives, and building bridges.
					</p>
					<br>
					<p>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; Beyond my linguistic endeavors and professional aspirations, my personal life is a reflection of discipline and creativity. 
						The dedication I pour into bodybuilding mirrors my commitment to every project I undertake. Meanwhile, drawing provides me a canvas to express, to envision, and to escape. 
						And in the realms of video games, I find not just entertainment but inspiration, especially as I nurture my growing interest in Artificial Intelligence—a field where technology meets humanity, mirroring my own journey of blending diverse worlds.
					</p>
					<br>
					<p>
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; I invite you to dive deeper into my story, my aspirations, and my work. Explore my portfolio, and together, let's turn vision into reality.
					</p>
					<br>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h4>Florida International University.</h4>
					<ul>
						<li> Computer Science Major</li>
						<li> 3.4 GPA</li>
						<li> Member of INIT </li>
						<br>
						<h5> Relevant Coursework</h5>
						<li>Graph Theory</li>
						<li>Software Engineering</li>
						<li>Introduction to blockchain</li>
						<li>System programming</li>
						<li>Computer Architecture</li>

					</ul>

					<br>
					<h4>Google Tech Exchange Program</h4>
					<p>Was taught by Google Engineers the following classes </p>
					<ul>
						    <li>Applied Data Structures </li>
							<li>Software Development</li>
							<li>Intro to Product Management</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Git/Version Control and GitLab</li>
						<li>Terminal/Bash</li>
						<li>HTML/CSS</li>
						<li>Python/Flask</li>
						<li>Google Cloud Storage</li>
						<li>AppEngine and GCP</li>
						<li>Requirements Engineering</li>
						<li>Technical Design</li>
						<li>Unit Testing</li>
						<li>Full stack development</li>
						<li>Web development using GCP</li>
						<li>Continous Integration</li>
						<li>Continous Deployment</li>
						<li>MySql</li>
						<li>SpringBoot</li>
						<li>Tailwind</li>
						<li>Astro</li>



					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
